@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Helvetica, "Helvetica Neue", Arial, sans-serif;
  --font-mono: var(--font-geist-mono);
  
  --color-brand-navy: #0B3C5F;
  --color-brand-green: #0FA958;
  --color-brand-dark-green: #097B3E;
  --color-brand-deep-navy: #081E3B;
  --color-brand-light-green: #F4FAF6;
  --color-brand-light-blue: #F4F8FC;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}
